<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>

<body>

<header class="header">

    <div>
        <form class="search-form-articles" action="{{ path('search_articles') }}">
            {# Ce que l'utilisateur recherche sera "envoyé" dans l'URL avec le paramètre GET #}
            <input type="text" name="search">
        </form>
    </div>

    <nav class="menu-container">
        <ul class="menu">
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('list_articles') }}">Articles</a></li>
        </ul>
    </nav>
</header>

<main>

    {# Messages qui vont s'afficher, et qui ne sont pas des fichiers twig #}
    {% for message in app.flashes('success') %}
        <div class="flash-messages">
            {{ message }}
        </div>
    {% endfor %}

    {% block main %}{% endblock main %}
</main>

<footer class="footer">

    <ul class="menu">
        <li>Mentions légales</li>
        <li>Nous contacter</li>
        <li>A propos</li>
    </ul>

</footer>

</body>
</html>